<div class="card">
  <%= link_to "", parcel_path(parcel), class: "card-link"%>
  <div class="card-parcel-content">
    <div class="receiver-name">
      <h4><%= parcel.receiver_full_name %></h4>
    </div>
  </div>
</div>
