console.log("transfert réussi");
//$("#result-scan").empty().append("<p>Le code qui vient d'être scanné est : <%= @data =%></p>");
var new_form = $("<%= j render 'parcels/form_validation_input', parcel: @parcel %>").hide();
$('#result-scan').empty().append(new_form);
// Show the new review with an animation!
new_form.slideDown();

$('#submit_word').click(function(){
    event.preventDefault();

    var word_try = $("#word-parcel").val();
    console.log("j'atteinds ce Js");

    if(word_try == "<%= @parcel.code %>")
    {
      $("#info-code").removeClass("hidden");
      $("#form-word").addClass("hidden");
    } else {
      $("#error-word").removeClass("hidden")
                      .delay(2000)
                      .queue(function() {
                        $(this).addClass("hidden");
                        $(this).dequeue();
                      });
      return false;
    }
});
