<div class="container padded">
  <div class="row">
    <div class="text-center">
      <h2> Edit Parcel </h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "parcels/form_parcel", parcel: @parcel %>
    </div>
  </div>
</div>
