

<div class="container padded">
  <div class="row">
    <div class="text-center">
      <h1>Parcels#new</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "parcels/form_parcel", parcel: @parcel, pudo_list: @pudo_list %>
    </div>
  </div>
</div>

