<div class="bandeau">
  <div class=bandeau-title>
    <h3>Nouveau colis</h3>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <div class="card text-center" id="card-code">
        <p>Mot à écrire sur le colis</p>
        <!-- <p>< raw @qr.as_html</p> -->
        <div id="code-display">
          <h1><%= @parcel.word%></h1>
        </div>
      </div>
      <div class="text-center">
        <p>Ranger le colis</p>
        <%= link_to "Valider", root_path, class: "btn navbar-wagon-button"%>
      </div>
    </div>
  </div>
</div>

