<h1>Show des parcels</h1>

<p>Parcel id = <%= @parcel.id %></p>
<p>Parcel description = <%= @parcel.description %></p>
<p>Parcel code = <%= @parcel.code ? @parcel.code : "pas de code pour l'instant" %></p>
<p><%= raw @qr.as_html%></p>

