<div class="user-info text-center">
  <div id=user-avatar>
    <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-bordered" %>
  </div>
  <div id= user-info >
    <%= current_user.email%>
    <% if current_user.pudo %>
      <p>Point relais de <%= current_user.pudo_city %></p>
    <% else %>
      <p>Runner</p>
    <% end %>
  </div>
</div>
