<div class="container padded">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render "users/user_info" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="card choice" id="parcel-in">
          <%= link_to "", input_path, class: "card-link"%>
          <div class="choice-content">
            <h4>Entrée de colis</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="card choice" id="parcel-out" >
          <%= link_to "", output_path, class: "card-link"%>
          <div class="choice-content">
            <h4>Sortie de colis</h4>
          </div>
        </div>
      </div>
    </div>
  <% else %>

      <!-- Login text link -->
       <!-- link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn"

      link_to t(".sign_up", default: "Sign up"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn"  -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <%= render 'devise/sessions/new' %>
        </div>
      </div>
  <% end %>
</div>
